[submodule "third_party/sdl"]
	path = third_party/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
